<div class="pageheader">
  <h2>Página Inicial</h2>
  <p class="description">LCA PTool</p>
  <div class="breadcrumb-wrapper hidden-xs">
    <span class="label">Estás aqui:</span>
    <ol class="breadcrumb">
      <li class="active">Página Inicial</li>
    </ol>
  </div>
</div>
<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <a href="/base_materials">
            <div class="panel  widget-mini">
              <div class="panel-body">
                <i class="fa fa-fw fa-cog"></i>
                <span class="total text-center">Materiais</span>
                <span class="title text-center">Consultar</span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3">
          <a href="/material_compositions">
            <div class="panel panel-solid-default widget-mini">
              <div class="panel-body">
                <i class="fa fa-fw fa-sort-amount-asc"></i>
                <span class="total text-center">Material derivado</span>
                <span class="title text-center">Criar | Consultar</span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3">
          <a href="/construsolutions">
            <div class="panel panel-solid-success widget-mini">
              <div class="panel-body">
                <i class="fa fa-fw fa-institution"></i>
                <span class="total text-center">Soluções Construtivas</span>
                <span class="title text-center">Criar | Consultar</span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3">
          <a href="/compare">
            <div class="panel panel-solid-info widget-mini">
              <div class="panel-body">
                <i class="fa fa-fw fa-sort-amount-asc"></i>
                <span class="total text-center">Comparar Soluções</span>
                <span class="title text-center">Comparação</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1>LCA PTool</h1>
          <h2>Sobre o programa</h2>

          <p>O LCA PTool é uma ferramenta de cálculo e comparação dos impactes ambientais de ciclo de vida de soluções construtivas de paredes exteriores. O desenvolvimento do LCA PTool, e respetiva base de dados, surge no âmbito da dissertação de mestrado em Engenharia Civil pela Universidade do Minho no ano de 2017. Este trabalho tema a autoria de Almeno Henrique Silva Antunes com a orientação do Professor Doutor Ricardo Mateus.</p>

          <h2>Metodologia</h2>

          <p>A quantificação dos impactes ambientais das soluções construtivas contempladas no programa surge através da análise do seu ciclo de vida (LCA) que engloba a contribuição das várias fases do ciclo de vida para o impacte ambiental global. Para esta análise e quantificação foi usado o SimaPRO 8 que recorre à base de dados Ecoinvent na sua versão mais recente, versão 3, e avalia os materiais das várias soluções segundo oito categorias de impactes ambientais, sendo ainda avaliado o impacte associado ao transporte de cada material em função do meio utilizado e da distância percorrida. </p>
          <p>O programa permite também analisar o desempenho energético da solução construtiva através da comparação dos valores do Coeficiente de Transmissão Térmica, por análise do ITE50, e ainda o seu custo ao nível do custo de aquisição e de mão-de-obra por consulta das fichas de rendimento desenvolvidas pelo LNEC.</p>

          <h2>Contactos </h2>

          <p>Autor: Almeno Henrique Silva Antunes</p>
          <p>Email: <a href="mailto:a.henrique.antunes@gmail.com">a.henrique.antunes@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
</section>