<%= form_with(model: construsolution, local: true) do |form| %>
  <% if construsolution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(construsolution.errors.count, "error") %> prohibited this construsolution from being saved:</h2>

      <ul>
      <% construsolution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
