<div class="sidebar-profile">
    <div class="profile-body dropdown">
        <div>Administration Zone</div>
        <div>
        <a href="/admin" class="btn btn-success" style="margin: 30px auto 0 ;
        text-align: center;
    color: #fff;"><i class="fa fa-lock"></i> Login</a>
        </div>
    </div>

</div>
<nav>
    <h5 class="sidebar-header">Menu</h5>
    <ul class="nav nav-pills nav-stacked">
        <li class="">
            <a href="/">
                <i class="fa fa-fw fa-home"></i> Inicio
            </a>
        </li>
        <li class="">
            <a href="/materials">
                <i class="fa fa-fw fa-cog"></i> Materiais
            </a>
        </li>
        <li >
            <a href="/construsolutions">
                <i class="fa fa-fw fa-institution"></i> Soluções construtivas
            </a>

        </li>
        <li class="">
            <a href="/compare">
                <i class="fa  fa-fw fa-sort-amount-asc"></i> Comparar Soluções
            </a>
        </li>
    </ul>
</nav>
