<h1>Editing Material Composition</h1>

<%= render 'form', material_composition: @material_composition %>

<%= link_to 'Show', @material_composition %> |
<%= link_to 'Back', material_compositions_path %>
